In [43]:
import pandas
from datetime import timedelta, datetime

In [3]:
products = pandas.read_csv("../../datasets/class-2/products_with_lag_and_descriptions.txt")

In [11]:
products

,Unnamed: 0,product_id,periodo,cat1,customer_id,cust_request_qty,cust_request_tn,sku_size,tn_count,tn_mean,...,lag1,lag2,lag3,lag4,lag5,lag6,lag7,lag8,lag9,lag10
0,0,20001,2017-01-01,HC,1893102,479,937.72717,558000,186.0,5.041544,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,1,20001,2017-02-01,HC,1881286,432,833.72187,555000,185.0,4.506605,...,937.72717,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,2,20001,2017-03-01,HC,1912750,509,1330.74697,564000,188.0,7.078441,...,833.72187,937.72717,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,3,20001,2017-04-01,HC,1055299,279,1132.94430,312000,104.0,10.893695,...,1330.74697,833.72187,937.72717,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,4,20001,2017-05-01,HC,2423431,701,1550.68936,714000,238.0,6.515502,...,1132.94430,1330.74697,833.72187,937.72717,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21776,21776,21271,2019-02-01,REF,60477,6,0.01041,120,6.0,0.001735,...,0.00745,0.00668,0.04456,0.07204,0.07019,0.04792,0.02785,0.01671,0.03194,0.03603
21777,21777,21282,2017-01-01,PC,91180,19,0.04888,1350,9.0,0.005431,...,0.01041,0.00745,0.00668,0.04456,0.07204,0.07019,0.04792,0.02785,0.01671,0.03194
21778,21778,21282,2017-02-01,PC,70757,18,0.06843,1050,7.0,0.009776,...,0.04888,0.01041,0.00745,0.00668,0.04456,0.07204,0.07019,0.04792,0.02785,0.01671
21779,21779,21287,2017-01-01,FOODS,30176,6,0.03320,30,3.0,0.011067,...,0.06843,0.04888,0.01041,0.00745,0.00668,0.04456,0.07204,0.07019,0.04792,0.02785
21780,21780,21294,2017-08-01,PC,10003,1,0.00764,350,1.0,0.007640,...,0.03320,0.06843,0.04888,0.01041,0.00745,0.00668,0.04456,0.07204,0.07019,0.04792

In [5]:
cotizations = pandas.read_csv("../../datasets/class-3/cotizations.csv")

In [107]:
cotizations

,Unnamed: 0,date,oficial,mayorista,informal,ccl,mep,tarjeta,ahorro,qatar,periodo
0,0,2008-01-02,3.16,3.15,3.17,0.00,0.00,0.00,0.00,0.0,2008-01-02
1,1,2008-01-03,3.16,3.15,3.17,0.00,0.00,0.00,0.00,0.0,2008-01-03
2,2,2008-01-04,3.16,3.14,3.17,0.00,0.00,0.00,0.00,0.0,2008-01-04
3,3,2008-01-07,3.16,3.14,3.18,0.00,0.00,0.00,0.00,0.0,2008-01-07
4,4,2008-01-08,3.15,3.13,3.18,0.00,0.00,0.00,0.00,0.0,2008-01-08
...,...,...,...,...,...,...,...,...,...,...,...
3836,3836,2023-10-27,367.93,349.95,990.00,859.73,806.84,735.86,735.86,0.0,2023-10-27
3837,3837,2023-10-30,367.88,349.95,970.00,853.07,859.75,735.76,735.76,0.0,2023-10-30
3838,3838,2023-10-31,367.94,350.00,920.00,864.84,852.85,735.88,735.88,0.0,2023-10-31
3839,3839,2023-11-01,367.94,349.95,915.00,883.05,840.28,735.88,735.88,0.0,2023-11-01
3840,3840,2023-11-02,367.93,350.10,925.00,883.21,863.64,735.86,735.86,0.0,2023-11-02

In [8]:
cotizations["periodo"] = cotizations["date"]

In [186]:
products_cotizations = pandas.merge(left=products, right=cotizations, on="periodo", how="left")

In [187]:
products_cotizations.columns

Index(['Unnamed: 0_x', 'product_id', 'periodo', 'cat1', 'customer_id',
       'cust_request_qty', 'cust_request_tn', 'sku_size', 'tn_count',
       'tn_mean', 'tn_std', 'tn_min', 'tn_25%', 'tn_50%', 'tn_75%', 'tn_max',
       'lag1', 'lag2', 'lag3', 'lag4', 'lag5', 'lag6', 'lag7', 'lag8', 'lag9',
       'lag10', 'Unnamed: 0_y', 'date', 'oficial', 'mayorista', 'informal',
       'ccl', 'mep', 'tarjeta', 'ahorro', 'qatar'],
      dtype='object')

In [188]:
products_cotizations = products_cotizations.drop(['Unnamed: 0_x', 'Unnamed: 0_y', 'date'], axis=1)

In [189]:
def add_day(date):
    new_date = datetime.strptime(date, "%Y-%m-%d") + timedelta(days=1)
    return new_date.strftime("%Y-%m-%d").strip()

In [190]:
def fix_cotization(row, column_name):
    cotization_value = None if pandas.isna(row[column_name]) else row[column_name]
    date = row['periodo']

    while cotization_value is None:
        
        date = add_day(date)
        cotizations_date = cotizations[cotizations['date'] == date]
        
        if len(cotizations_date.index.to_list()) > 0:
            cotization_value = cotizations_date[column_name].to_list()[0]

    return 0 if cotization_value is None else cotization_value

In [191]:
products_cotizations['oficial'] = products_cotizations.apply(fix_cotization, axis=1, column_name="oficial")
products_cotizations['mayorista'] = products_cotizations.apply(fix_cotization, axis=1, column_name="mayorista")
products_cotizations['informal'] = products_cotizations.apply(fix_cotization, axis=1, column_name="informal")
products_cotizations['ccl'] = products_cotizations.apply(fix_cotization, axis=1, column_name="ccl")
products_cotizations['mep'] = products_cotizations.apply(fix_cotization, axis=1, column_name="mep")
products_cotizations['tarjeta'] = products_cotizations.apply(fix_cotization, axis=1, column_name="tarjeta")
products_cotizations['ahorro'] = products_cotizations.apply(fix_cotization, axis=1, column_name="ahorro")
products_cotizations['qatar'] = products_cotizations.apply(fix_cotization, axis=1, column_name="qatar")

In [192]:
products_cotizations.to_csv("../../datasets/class-3/products-with-cotizations.csv", index=False)