In [1]:
import pandas
import gzip
import numpy as np
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.stattools import adfuller
import matplotlib.pyplot as plt

In [2]:
tb_productos_02_datasets = pandas.read_csv("../datasets/class-2/tb_productos_02.txt", sep='\t')
# tb_sellout_02_datasets = pandas.read_csv("../datasets/class-2/tb_sellout_02.txt.gz", compression='gzip', header=0, sep='\t', quotechar='"')
# tb_stocks_02_datasets = pandas.read_csv("../datasets/class-2/tb_stocks_02.txt.gz", compression='gzip', header=0, sep='\t', quotechar='"')

In [3]:
tb_productos_02_datasets

       cat1            cat2        cat3    brand  sku_size  product_id
0        HC     ROPA LAVADO     Liquido  LIMPIEX       900       20280
1        HC     ROPA LAVADO     Liquido  LIMPIEX       450       20180
2        HC     ROPA LAVADO     Liquido  LIMPIEX       120       20332
3        HC     ROPA LAVADO     Liquido  LIMPIEX       450       20222
4        HC     ROPA LAVADO     Liquido  LIMPIEX       900       20288
...     ...             ...         ...      ...       ...         ...
1257  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2        12       20240
1258  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2         6       20285
1259  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2         2       20259
1260  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2        12       20142
1261  FOODS  SOPAS Y CALDOS  Caldo Cubo   MAGGI2         6       20890

[1262 rows x 6 columns]

In [4]:
def read_tbl_products():   
  columns = []
  data = {}
  clean_data = []
  with open("../datasets/class-1/tb_sellout_01.txt", "rt") as f:
    for i, line in enumerate(f):
      clean_data.append(line)
      if i <= 4:
        columns.append(str(line))

    for index, column in enumerate(columns):
          data[column] = [line_clean.strip() for line_clean in clean_data[6 + index::6]]
  
  return data

In [5]:
tb_sellout_01_datasets = pandas.DataFrame(read_tbl_products())

In [6]:
tb_sellout_01_datasets.columns = ['periodo', 'customer_id', 'product_id', 'cust_request_qty', 'cust_request_tn']

In [7]:
tb_sellout_01_datasets["product_id"] = pandas.to_numeric(tb_sellout_01_datasets["product_id"])
tb_sellout_01_datasets.dtypes

periodo             object
customer_id         object
product_id           int64
cust_request_qty    object
cust_request_tn     object
dtype: object

In [8]:
tb_productos_02_datasets.dtypes

cat1          object
cat2          object
cat3          object
brand         object
sku_size       int64
product_id     int64
dtype: object

In [9]:
tbl_products = pandas.merge(tb_sellout_01_datasets, tb_productos_02_datasets, on=["product_id", "product_id"])

In [10]:
data = tbl_products
data['periodo'] = pandas.to_datetime(data['periodo'], format='%Y%m')
data.to_csv("tbl_products.txt")

# for value in range(12):
#     lag = value + 1
#     data['lag' + str(lag)] = data['cust_request_tn'].shift(lag).apply(lambda x: 0 if pandas.isna(x) else x)

In [11]:
data

,periodo,customer_id,product_id,cust_request_qty,cust_request_tn,cat1,cat2,cat3,brand,sku_size
0,2017-01-01,10234,20524,2,0.053,HC,VAJILLA,Cristalino,Importado,500
1,2017-01-01,10032,20524,1,0.13628,HC,VAJILLA,Cristalino,Importado,500
2,2017-01-01,10217,20524,1,0.03028,HC,VAJILLA,Cristalino,Importado,500
3,2017-01-01,10125,20524,1,0.02271,HC,VAJILLA,Cristalino,Importado,500
4,2017-01-01,10012,20524,11,1.54452,HC,VAJILLA,Cristalino,Importado,500
...,...,...,...,...,...,...,...,...,...,...
2981197,2019-12-01,10468,20770,1,0.91,HC,PROFESIONAL,LV ROPA POLVO,INDUSTRIAL,25
2981198,2019-12-01,10232,20770,1,2.0475,HC,PROFESIONAL,LV ROPA POLVO,INDUSTRIAL,25
2981199,2019-12-01,10465,20770,1,0.091,HC,PROFESIONAL,LV ROPA POLVO,INDUSTRIAL,25
2981200,2019-12-01,10380,20770,1,0.02275,HC,PROFESIONAL,LV ROPA POLVO,INDUSTRIAL,25
2981201,2019-12-01,10373,20770,1,0.091,HC,PROFESIONAL,LV ROPA POLVO,INDUSTRIAL,25